<div *ngIf="daLiJeLogovan()">
  <div class="container shadow p-3">
    <div *ngIf="plan != null">
      <h2 class="text-center  mt-4 mb-5">Plan Ishrane {{ plan.naziv }}</h2>
      <div class="border rounded-lg pl-2 pt-3 pb-3 m-2">
        <div>Datum: {{ plan.datum }}</div>
        <div>Instruktor: {{ plan.usernameInstruktora }}</div>
        <div>Klijent: {{ plan.usernameKlijenta }}</div>
      </div>
      <div *ngIf="true">
        <div class=" m-2 border rounded p-2">
          <h4>Lista Dana :</h4>

          <div class=" col">
            <div class="row">
              <div
                class="border rounded-lg m-1 p-1"
                *ngFor="let dan of plan.dani; let i = index"
              >
                <h5
                  class="bg-primary p-2 rounded-lg text-center text-white"
                  (click)="prikaziDan(i)"
                >
                  {{ kastujDan(i + 1) }}
                </h5>
                <div *ngIf="detaljiDan[i] != -1">
                  <div *ngFor="let obrok of dan.obroci; let j = index">
                    <div class="border rounded-lg p-1">
                      <div>
                        <h6
                          class="bg-primary p-1 text-white rounded-lg"
                          (click)="prikaziMacrosObroka(i, j)"
                        >
                          Obrok {{ j + 1 }}, Ukupno Kalorija :{{
                            obrok.ukupneKalorije
                          }}kcal.
                        </h6>
                        <div
                          *ngIf="detaljiObrok[0] == i && detaljiObrok[1] == j"
                        >
                          <div>
                            UgljeniHidrati : {{ obrok.ukupniUgljeniHidrati }}g
                          </div>
                          <div>Proteini : {{ obrok.ukupniProteini }}g</div>
                          <div>Masti : {{ obrok.ukupneMasti }}g</div>
                          <div>Vlakna : {{ obrok.ukupnaVlakna }}g</div>
                        </div>
                        <div
                          *ngFor="let deo of obrok.deloviObroka; let z = index"
                        >
                          <div
                            class="bg-success p-1 text-white rounded-lg"
                            (click)="prikaziMacrosHrane(i, j, z)"
                          >
                            {{ deo.hrana.ime }} {{ deo.kolicina }} g
                            {{
                              izracunajKalorijeHrana(deo.hrana, deo.kolicina)
                            }}
                            kcal.
                          </div>
                          <div
                            *ngIf="
                              detaljiHrana[0] == i &&
                              detaljiHrana[1] == j &&
                              detaljiHrana[2] == z
                            "
                          >
                            <div>
                              Proteini ({{ deo.kolicina }})g :
                              {{
                                vratiVrednost(deo.hrana.proteini, deo.kolicina)
                              }}
                              g.
                            </div>
                            <div>
                              UgljeniHidrati ({{ deo.kolicina }})g :
                              {{
                                vratiVrednost(
                                  deo.hrana.ugljeniHidrati,
                                  deo.kolicina
                                )
                              }}
                              g.
                            </div>
                            <div>
                              Masti ({{ deo.kolicina }})g :
                              {{ vratiVrednost(deo.hrana.masti, deo.kolicina) }}
                              g.
                            </div>
                            <div>
                              Vlakna ({{ deo.kolicina }})g :
                              {{
                                vratiVrednost(deo.hrana.vlakna, deo.kolicina)
                              }}
                              g.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>Dnevne Kalorije: {{ dan.kalorije }}kcal.</div>
                <div>Dnevni Ugljeni hidrati: {{ dan.ugljeniHidrati }}g.</div>
                <div>Dnevni Proteini: {{ dan.proteini }}g.</div>
                <div>Dnevne Masti: {{ dan.masti }}g.</div>
                <div>Dnevna Vlakna: {{ dan.vlakna }}g.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border rounded-lg m-2 p-2">
        <h4 class="m-1 border rounded-lg bg-primary text-white pl-1 pt-2 pb-2">
          Komentari :
        </h4>
        <div>
          <div>
            <div *ngFor="let komentar of plan.komentari">
              <div class="m-1 p-1 border border-primary rounded-lg">
                <h6 class=" border rounded-lg p-1 bg-primary text-white">
                  {{ komentar.koJeOdgovorio }} :
                </h6>
                <div>{{ komentar.text }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 mb-4 ml-2">
          <h4>Dodajte Komentar:</h4>
          <div>
            <textarea
              class="col-8"
              style=" resize: none;"
              rows="5"
              placeholder="Unesite odgovor..."
              [formControl]="komentarControl"
            ></textarea>
          </div>
          <div>
            <button class="mt-2 btn btn-primary" (click)="dodajKomentar()">
              Dodaj Komentar
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class=" btn btn-secondary" (click)="goBack()">Nazad</button>
  </div>
</div>

<div class="container shadow p-3 " *ngIf="!daLiJeLogovan()">
  <div
    class="border rounded-lg text-center p-2 m-2 bg-danger text-white ml-20 mr-20 "
  >
    Morate biti logovani da vidite profile.
  </div>
</div>
