<h2>Prijavite se na vas SmartFit nalog </h2>
<h3>Korisnicki Nalog : </h3>
<label for="usernameKlijentControl">Vas Username :</label>
    <input
      type="text"
      name="usernameKlijentControl"

      [formControl]="usernameKlijentControl"
    />
    <label for="passwordKlijentControl">Vas Password :</label>
    <input
      type="password"
      name="passwordKlijentControl"

      [formControl]="passwordKlijentControl"
    />
    <button (click)="loginClient()">Login as Client</button>
<h3>Instruktorski Nalog : </h3>
    <label for="usernameKlijentControl">Vas Username :</label>
    <input
    type="text"
    name="usernameKlijentControl"

    [formControl]="usernameKlijentControl"
    />

    <label for="passwordInstruktorControl">Vas Password :</label>
    <input
    type="password"
    name="passwordInstruktorControl"

    [formControl]="passwordInstruktorControl"
    />
    <button (click)="loginInstructor()">Login as Instructor</button>
    