<div *ngIf="daLiJeLogovan()">
  <div class="container shadow p-3 ">
    <h3 class="mt-4 mb-5 text-center">
      Plan Treninga - Klijent : {{ usernameKlijenta }}, Instruktor :
      {{ usernameInstruktora }}
    </h3>

    <div class="border rounded-lg m-2 p-2" *ngIf="prethodniPlanovi.length > 0">
      Prethodni Planovi Treninga :
      <ul>
        <div
          class="p-1 m-1"
          *ngFor="let plan of prethodniPlanovi; let i = index"
          value="plan"
          (click)="odvediNaPlan(plan)"
        >
          Plan {{ i + 1 }} Naziv Plana : {{ plan.naziv }} , Datum Plana :
          {{ plan.datum }}
        </div>
      </ul>
      <div>Trenutni Plan Treninga :</div>
      <div
        class=" p-1 m-1 ml-5 "
        (click)="odvediNaPlan(prethodniPlanovi[prethodniPlanovi.length - 1])"
      >
        Naziv Plana :
        {{ prethodniPlanovi[prethodniPlanovi.length - 1].naziv }} , Datum Plana
        : {{ prethodniPlanovi[prethodniPlanovi.length - 1].datum }}
      </div>
    </div>
    <div class="border rounded-lg p-2 m-2" *ngIf="poslatPlanFlag == false">
      <div class="border rounded-lg m-2 p-2">
        <h4>Dodajte novi Plan Treninga :</h4>
        <h5>Dodati Treninzi po danima :</h5>
        <div>
          <div>
            <div
              class=" m-1 p-1 "
              *ngFor="let trening of nizTreninga; let i = index"
            >
              {{ vratiTreningUString(i) }}
              <button
                class="btn-primary rounded-lg ml-2"
                (click)="prikaziDetaljeTrening(i)"
              >
                Detalji
              </button>
              <button
                class="btn-primary rounded-lg ml-2"
                (click)="obrisiTrening(trening)"
              >
                Obrisi
              </button>
              <div
                class="border rounded-lg m-1 p-2 col-6"
                *ngIf="detaljiTrening == i"
              >
                <div>Trajanje : {{ trening.trajanje }} min.</div>
                <div>
                  Odmor izmedju serija : {{ trening.odmorIzmedjuSerija }} min.
                </div>
                <ul>
                  <li *ngFor="let vezba of trening.vezbe">
                    {{ vezba.ime }} Serije : {{ vezba.brojSerija }} ,Broj
                    Ponavljanja : {{ vezba.brojPonavljanja }}, Opterecenje :
                    {{ vezba.opterecenje }} kg.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!daLiJeGotov()">
        <div class="border rounded-lg m-2 p-2">
          <h5>Vas trening {{ nizTreninga.length + 1 }} izgleda ovako :</h5>
          <div
            class="rounded"
            *ngIf="trenutniTrening && trenutniTrening.vezbe.length > 0"
          >
            Lista Vezbi :
            <ul>
              <div
                class="m-1 p-1"
                *ngFor="let vezba of trenutniTrening.vezbe; let i = index"
              >
                Naziv : {{ vezba.vezba.ime }} , Serije : {{ vezba.brojSerija }},
                Ponavljanja : {{ vezba.brojPonavljanja }}, Opterecenje :
                {{ vezba.opterecenje }}kg
                <button
                  class="btn-primary rounded-lg ml-2"
                  (click)="prikaziDetaljeVezba(i)"
                >
                  Detalji
                </button>
                <button
                  class="btn-primary rounded-lg ml-2"
                  (click)="obrisiVezba(vezba)"
                >
                  Obrisi
                </button>
                <div
                  class=" col-4 border rounded-lg p-1"
                  *ngIf="detaljiVezba == i"
                >
                  <div>
                    Misicne Grupe koje pogadja :
                    <ul>
                      <li *ngFor="let misic of vezba.vezba.misicnePartije">
                        {{ misic }}
                      </li>
                    </ul>
                  </div>
                  <div>
                    Tipovi treninga gde se koristi :
                    <ul>
                      <li *ngFor="let trening of vezba.vezba.vrsteTreninga">
                        {{ trening }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <div *ngIf="trenutniTrening && trenutniTrening.vezbe.length == 0">
            Dan Odmora.
          </div>
        </div>

        <div class="border rounded-lg m-2 p-2" *ngIf="!daLiJeGotov()">
          <label for="treningControl"
            >Selektujte tip treninga koji klijent radi :
          </label>
          <select
            class="form-control"
            type="number"
            name="treningControl"
            (change)="selektujTipTreninga()"
            [formControl]="treningControl"
          >
            <option
              *ngFor="let trening of nizMogucihTreninga"
              [value]="trening"
              >{{ trening }}</option
            >
          </select>
        </div>
        <div
          class="col-6 border m-2 p-2 border rounded-lg"
          *ngIf="smartSearch == true"
        >
          <app-smart-search-bar
            [changing]="changingValue"
            (onEnter)="selektujVezbu($event)"
            [titlePretrage]="pretragaPoImenu"
            [obsPretrage]="obsVezbe"
          ></app-smart-search-bar>
          <div>
            <label for="serijeControl">Broj Serija : </label>
            <input
              class="form-control"
              type="number"
              name="serijeControl"
              [formControl]="serijeControl"
            />
          </div>
          <div>
            <label for="ponavljanjaControl">Broj Ponavljanja : </label>
            <input
              class="form-control"
              type="number"
              name="ponavljanjaControl"
              [formControl]="ponavljanjaControl"
            />
          </div>
          <div>
            <label for="opterecenjeControl">Opterecenje (kg) : </label>
            <input
              class="form-control w-20"
              type="number"
              name="opterecenjeControl"
              [formControl]="opterecenjeControl"
            />
            <div class="mt-2 mb-2">
              <label for="bodyControl">BodyWeight (kg) : </label>
              <input
                type="checkbox"
                name="bodyControl"
                [formControl]="bodyControl"
              />
            </div>
          </div>
          <button class="btn btn-primary" (click)="dodajVezbu()">
            Dodaj Vezbu
          </button>
        </div>
        <div class="col-6" *ngIf="!daLiJeGotov()">
          <label for="trajanjeControl">Trajanje Treninga (min) : </label>
          <input
            class="form-control"
            type="number"
            name="trajanjeControl"
            [formControl]="trajanjeControl"
          />
        </div>
        <div class="col-6" *ngIf="!daLiJeGotov()">
          <label for="odmorIzmedjuSerijaControl"
            >Odmor izmedju serija (min) :
          </label>
          <input
            class="form-control"
            type="number"
            name="odmorIzmedjuSerijaControl"
            [formControl]="odmorIzmedjuSerijaControl"
          />
        </div>
        <button
          class="m-2 btn btn-primary"
          *ngIf="!daLiJeGotov() && poslatPlanFlag == false"
          (click)="zavrsiTrening()"
        >
          Zavrsi Dnevni Trening
        </button>
      </div>
      <div
        *ngIf="daLiJeGotov() && poslatPlanFlag == false"
        class="border rounded-lg m-2 p-2"
      >
        <div *ngIf="daLiJeGotov() && poslatPlanFlag == false">
          <label for="datumControl">Datum Plana :</label>
          <input
            class="form-control"
            type="text"
            name="datumControl"
            [formControl]="datumControl"
          />
          <label for="nazivControl">Naziv Plana :</label>
          <input
            class="form-control"
            type="text"
            name="nazivControl"
            [formControl]="nazivControl"
          />
        </div>
        <div>
          <button
            class="m-2 btn btn-primary"
            *ngIf="daLiJeGotov() && poslatPlanFlag == false"
            (click)="posaljiPlan()"
          >
            Posalji Plan
          </button>
        </div>
      </div>
      <label *ngIf="poslatPlanFlag == true">Vas Plan je uspesno poslat.</label>
    </div>
    <div>
      <button class="m-2 btn btn-secondary" (click)="back()">Nazad</button>
    </div>
  </div>
</div>
<div class="container shadow p-3 " *ngIf="!daLiJeLogovan()">
  <div
    class="border rounded-lg text-center p-2 m-2 bg-danger text-white ml-20 mr-20 "
  >
    Morate Biti ulogovani.
  </div>
</div>
