<div style="background-color: black;" class="text-light">
  <img
    src="../../../../assets/img/home_wallpaper.jpg"
    alt=""
    class="img-fluid"
    style="width: 100vw;"
  />

  <div class="row">
    <div class="col d-flex ">
      <div
        class="border border-secondary m-3 p-3 bg-secondary rounded-lg flex-grow-1"
      >
        <div class="row p-5 text-center" style="font-size: 22px;">
          SmartFit je sajt koji će Vam pomoći da na lak i efikasan način vodite
          evidenciju o Vasem napretku u teretani angažovanjem naših instruktora
        </div>
      </div>
    </div>
    <div class="col d-flex ">
      <div
        class="border border-secondary m-3 p-3 bg-secondary rounded-lg flex-grow-1"
      >
        <div class="row p-5 text-center" style="font-size: 22px;">
          Instruktori će Vam, uz veliku bazu proverenih vezbi i hrana koju
          aktivno uredjuju, pomoći da brze i efikasnije stremite ka svom fitnes
          cilju. Uz intuitivni interfejs našeg sajta lako ćete moći da pratite
          svoj, a i napredak vaših prijatelja i poznanika.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex ">
      <div
        class="border border-secondary bg-secondary m-3 p-3 rounded-lg flex-grow-1 "
      >
        <div class="row p-5 text-center" style="font-size: 22px;">
          Ako ste instruktor koji zeli da pomogne ljudima u ostvarivanju
          njihovih ciljeva ovo je pravo mesto za Vas!
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-outline-dark mt-3" routerLink="/signup"
            >Učlani se</a
          >
        </div>
      </div>
    </div>
    <div class="col d-flex ">
      <div
        class="border border-secondary m-3 p-3 bg-secondary rounded-lg flex-grow-1"
      >
        <div class="row p-5 text-center" style="font-size: 22px;">
          Zato sta čekate, prijavite se i Vaše fitnes putovanje počinje!
        </div>
        <div class="row justify-content-center">
          <a class="btn btn-outline-dark mt-5" routerLink="/login">
            Prijavi se
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer ">
    <h3
      class="border-top  border-secondary text-center p-3"
      style="font-size: 32px;"
    >
      SmartFit tim Vam zeli sreću i upornost u vasem treniranju!
    </h3>
    <div class="text-center">
      NBPTim&copy;2020
    </div>
  </div>
</div>
