<h1>Dobrodosli na SmartFit</h1>
<nav>
    <li>
        <a routerLink="/login">Prijavite se</a>
    </li>
    <li>
        <a routerLink="/signup">Uclanite se</a>
    </li>
</nav>
<p> SmartFit je sajt koji ce vam pomoci da na lak i efikasan nacin vodite evidenciju o Vasem napredku u teretani angazovanjem nasih instruktora.
    Oni ce Vam, uz veliku bazu proverenih vezbi i hrana koju aktivno uredjuju, pomoci da brze i efikasnije stremite ka svom fitnes cilju.
    Uz intuitivni interfejs naseg sajta lako cete moci da pratite svoj, a i napredak vasih prijatelja i poznanika.
</p>
<p>
    Ako ste instruktor koji zeli da pomogne ljudima u ostvarivanju njihovih ciljeva ovo je pravo mesto za Vas!
</p>
  <p>
   Zato sta cekate, prijavite se i Vase fitnes putovanje pocinje!  
  </p>
  <h4>SmartFit tim Vam zeli srecu u upornost u vasem treniranju!</h4>