<div *ngIf="klijent!=null">
<div *ngIf="!daLiJeLogovan()">Morate biti logovani da vidite profile.</div>
<div *ngIf="daLiJeLogovan() && daLiNJegovProfilIliGleda()">
    <h2>Dobrodosli na profil {{klijent.userName}}</h2>
    <div>Ime : {{klijent.ime}}</div>
    <div>Prezime : {{klijent.prezime}}</div>
    <div>Godina Rodjenja : {{klijent.godinaRodjenja}}</div>
    <div>Visina : {{klijent.visina}}</div>
    <div>Trenutna Tezina : {{klijent.tezina[klijent.tezina.length-1]}}</div>
    <div>Trenutni BodyFat : {{klijent.bodyFat[klijent.bodyFat.length-1]}}</div>
    <div>Vezbacko Iskustvo : {{klijent.iskustvo}}</div>
    <div>Cilj u treningu : {{klijent.cilj}}</div>
    <div>Grafik</div>
    <div>Smart Search za Druge Klijente : </div>
    <div style="display: block">
        Tezina Graf
        <canvas baseChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true">
        </canvas>
      </div>
      <div style="display: block">
        BodyFat Graf
        <canvas baseChart
            [chartType]="chartType"
            [datasets]="chartDatasets1"
            [labels]="chartLabels"
            [colors]="chartColors1"
            [options]="chartOptions"
            [legend]="true">
        </canvas>
      </div>
    <button (click)="izmena()">Izmeni Profil</button>
    <button (click)="novoMerenje()">Merenje</button>
    <button (click)="pogledajInstruktore()">Instruktori</button>
    <button (click)="logout()">Odjavi Se</button>
    <div *ngIf="merenje==true">
        <h3>Unesite vase novo merenje : </h3>
        <label for="tezinaKlijentControl">Tezina :</label>
        <input
        type="number"
        name="tezinaKlijentControl"
        [formControl]="tezinaKlijentControl"
        />
        <label for="bodyFatKlijentControl">BodyFat :</label>
        <input
        type="number"
        name="bodyFatKlijentControl"
        [formControl]="bodyFatKlijentControl"
        />
        <button (click)="dodajMerenje()">Dodaj Merenje</button>
    </div>
    <div *ngIf="izmenaProfila==true">
        <h4>Izmenite Vas profil : </h4>
        <label for="prezimeKlijentControl">Novo Prezime :</label>
        <input
        type="text"
        name="prezimeKlijentControl"
        [formControl]="prezimeKlijentControl"
        />
        <label for="visinaKlijentControl">Nova Visina :</label>
        <input
        type="number"
        name="visinaKlijentControl"
        [formControl]="visinaKlijentControl"
        />
        <label for="bodyFatKlijentControl">Iskustvo u vezbanju :</label>
        <select
        type="number"
        name="bodyFatKlijentControl"
        [formControl]="iskustvoKlijentControl"
        >
        <option *ngFor="let iskustvo of iskustva" [value]="iskustvo">{{
            iskustvo
        }}</option>
        </select>
        <label for="ciljKlijentControl">Novi Cilj Vaseg treniranja :</label>
        <input
        type="text"
        name="ciljKlijentControl"
        [formControl]="ciljKlijentControl"
        />
        <label for="noviPasswordKlijentControl">Vas Novi Password :</label>
        <input
        type="password"
        name="noviPasswordKlijentControl"
        [formControl]="noviPasswordKlijentControl"
        />
        <label for="passwordKlijentControl">Vas Stari Password :</label>
        <input
        type="password"
        name="passwordKlijentControl"
        [formControl]="passwordKlijentControl"
        />
        <button (click)="updateProf()">Zapamti Izmene</button>
    </div>
    <div *ngIf="instruktori==true">
    <h4>Lista Vasih Instruktora : </h4>
    <div>
        <ul *ngIf="klijent.instruktori.length>0">
            <li *ngFor="let instruktor of klijent.instruktori; let i = index">Username Instruktora : <a (click)="vidiProfil(instruktor)">{{instruktor}}</a> 
                <button (click)="odjaviUslugu(instruktor)">Odjavi usluge</button>
                <button (click)="vidiPlanTreninga(i)">Vidi Plan Treninga</button>
                <button (click)="vidiPlanIshrane(i)">Vidi Plan Ishrane</button>
                <div *ngIf="planoviTreninga.length > 0 && detaljiPlanTreninga==i">
                    Planovi Treninga :
                    <ul>
                      <li
                        *ngFor="let plan of planoviTreninga; let j = index"
                        value="plan"
                        (click)="odvediNaPlanTreninga(plan,j)"
                      >
                         Naziv Plana : {{ plan.naziv }} , Datum Plana :
                        {{ plan.datum }}
                      </li>
                    </ul>
                  </div>
                  <div *ngIf="planoviIshrane.length > 0 && detaljiPlanIshrane==i">
                    Planovi Ishrane :
                    <ul>
                      <li
                        *ngFor="let plan of planoviIshrane; let j = index"
                        value="plan"
                        (click)="odvediNaPlanIshrane(plan,j)"
                      >
                         Naziv Plana : {{ plan.naziv }} , Datum Plana :
                        {{ plan.datum }}
                      </li>
                    </ul>
                  </div>
            </li>
        </ul>
    </div>
    <h4>Lista svih Instruktora : </h4>
    <div>
        <ul *ngIf="sviInstruktori.length>0">
            <li *ngFor="let instruktor of sviInstruktori">Username Instruktora : <a (click)="vidiProfil(instruktor)">{{instruktor}}</a> 
                <button (click)="angazuj(instruktor)">Angazuj</button>
            </li>
        </ul>
    </div>
    </div>
    <app-smart-search-bar
      [changing]="changingValue" 
      (onEnter)="pretraziUsera($event)"
      [titlePretrage]="pretragaPoImenu"
      [obsPretrage]="obsKlijenti"
    ></app-smart-search-bar>
</div
>
<div *ngIf="daLiJeLogovan() && !daLiNJegovProfilIliGleda()">
    <h2>Dobrodosli na profil {{klijent.userName}}</h2>
    <div>Ime : {{klijent.ime}}</div>
    <div>Prezime : {{klijent.prezime}}</div>
    <div>Godina Rodjenja : {{klijent.godinaRodjenja}}</div>
    <div>Visina : {{klijent.visina}}</div>
    <div>Trenutna Tezina : {{klijent.tezina[klijent.tezina.length-1]}}</div>
    <div>Trenutni BodyFat : {{klijent.bodyFat[klijent.bodyFat.length-1]}}</div>
    <div>Vezbacko Iskustvo : {{klijent.iskustvo}}</div>
    <div>Cilj u treningu : {{klijent.cilj}}</div>
    <div style="display: block">
        Tezina Graf
        <canvas baseChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true">
        </canvas>
      </div>
      <div style="display: block">
        BodyFat Graf
        <canvas baseChart
            [chartType]="chartType"
            [datasets]="chartDatasets1"
            [labels]="chartLabels"
            [colors]="chartColors1"
            [options]="chartOptions"
            [legend]="true">
        </canvas>
      </div>
      <button (click)="nazad()">Nazad</button>
</div>
</div>
