<div *ngIf="ulogovan()">
  <div class="justify-content-md-center container shadow p-3">
    <h4 class="mt-2 text-center">Dodajte novu vezbu :</h4>
    <div class="mt-4 col">
      <label for="imeControl">Naziv vezbe :</label>
      <input
        class="form-control"
        type="text"
        name="imeControl"
        [formControl]="imeControl"
      />
      <div class="  mt-2 mb-2">
        <label for="misiciControl"
          >Selektujte misice koje vezba pogadja :</label
        >
        <select
          class="form-control"
          type="number"
          name="misiciControl"
          [formControl]="misiciControl"
        >
          <option *ngFor="let misic of misici" [value]="misic">{{
            misic
          }}</option>
        </select>
        <button class="btn btn-secondary mt-4 mb-2 " (click)="dodajMisic()">
          Dodajte Misic
        </button>
        <div class="col-6 mb-2 mt-2">
          <div class="list-group-item bg-secondary text-white text-center">
            {{ imeControl.value }} Pogadja sledece misice :
          </div>
          <div>
            <ul class="list-group">
              <li
                class="column list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                *ngFor="let pogodjeniMisic of pogodjeniMisici"
              >
                {{ pogodjeniMisic }}
                <button (click)="izbaciMisic(pogodjeniMisic)">
                  Obrisi
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <label for="treningControl"
        >Selektujte treninge gde se ona moze raditi</label
      >
      <select
        class="form-control"
        type="number"
        name="treningControl"
        [formControl]="treningControl"
      >
        <option *ngFor="let trening of treninzi" [value]="trening">{{
          trening
        }}</option>
      </select>
      <button class="btn btn-secondary mt-4 mb-2 " (click)="dodajTrening()">
        Dodajte Trening
      </button>
      <div *ngIf="dozvoljeniTreninzi.length > 0">
        {{ imeControl.value }} se moze raditi na sledecim treninzima :
        <ul>
          <li *ngFor="let dozvoljeniTrening of dozvoljeniTreninzi">
            {{ dozvoljeniTrening }}
            <button
              class="btn btn-secondary mt-4 mb-2 "
              (click)="izbaciTrening(dozvoljeniTrening)"
            >
              Obrisi
            </button>
          </li>
        </ul>
      </div>
      <div class="border mt-3">
        <div class="mt-2">
          <label class="ml-2 " for="tegoviControl">Tegovi</label>
          <input
            class="ml-2"
            type="checkbox"
            name="tegoviControl"
            [formControl]="tegoviControl"
          />
        </div>
        <div>
          <label class="ml-2" for="masineControl">Masine</label>
          <input
            class="ml-2"
            type="checkbox"
            name="masineControl"
            [formControl]="masineControl"
          />
        </div>
        <div>
          <label class="ml-2" for="bodyWeightControl">Bodyweight</label>
          <input
            class="ml-2"
            type="checkbox"
            name="bodyWeightControl"
            [formControl]="bodyWeightControl"
          />
        </div>
      </div>
      <button class="btn btn-secondary mt-4 mb-2 " (click)="dodajteVezbu()">
        Dodajte Vezbu
      </button>
      <label>{{ poruka }}</label>
      <button class="btn btn-secondary mt-4 mb-2 ml-3 " (click)="nazad()">
        Nazad
      </button>
    </div>
  </div>
</div>
<div *ngIf="!ulogovan()">
  Morate biti ulogovani Instruktor da dodajete novu vezbu.
</div>
