<div *ngIf="daLiJeLogovan()">
  <div class="container shadow p-3 ">
    <h3 class="mt-4 mb-5 text-center">
      Plan Ishrane - Klijent : {{ usernameKlijenta }}, Instruktor :
      {{ usernameInstruktora }}
    </h3>
    <div class="border rounded-lg m-2 p-2" *ngIf="prethodniPlanovi.length > 0">
      Prethodni Planovi Ishrane :
      <ul>
        <div
          class="p-1 m-1"
          *ngFor="let plan of prethodniPlanovi; let i = index"
          value="plan"
          (click)="odvediNaPlan(plan)"
        >
          Plan {{ i + 1 }} Naziv Plana : {{ plan.naziv }} , Datum Plana :
          {{ plan.datum }}
        </div>
      </ul>
      <div>Trenutni Plan Ishrane :</div>
      <div
        class=" p-1 m-1 ml-5 "
        (click)="odvediNaPlan(prethodniPlanovi[prethodniPlanovi.length - 1])"
      >
        Naziv Plana :
        {{ prethodniPlanovi[prethodniPlanovi.length - 1].naziv }} , Datum Plana
        : {{ prethodniPlanovi[prethodniPlanovi.length - 1].datum }}
      </div>
    </div>
    <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\//////////////////////////////////////////////////////////-->
    <div *ngIf="poslatPlanFlag == false" class="border rounded-lg m-2 p-2">
      <h4>Dodajte novi Plan Ishrane :</h4>
      <div class="border  rounded-lg m-2 p-2">
        <h5>Dodati dani :</h5>
        <ul>
          <div *ngFor="let dan of nizDana; let i = index" value="dan">
            Dan {{ i + 1 }}
            <button
              class="btn-primary rounded-lg m-1"
              (click)="prikaziDetaljeDan(i)"
            >
              Detalji
            </button>
            <button
              class="btn-primary rounded-lg ml-1"
              (click)="obrisiDan(dan)"
            >
              Obrisi
            </button>
            <div *ngIf="detaljiZaDan == i">
              <ul>
                <div>Broj Obroka : {{ dan.obroci.length }}</div>
                <div>Dnevne kalorije : {{ dan.kalorije }}kcal.</div>
                <div>Dnevni proteini : {{ dan.proteini }}g.</div>
                <div>Dnevne masti : {{ dan.masti }}g.</div>
                <div>Dnevni ugljenihhidrati : {{ dan.ugljeniHidrati }}g.</div>
                <div>Dnevna vlakna : {{ dan.vlakna }}g.</div>
              </ul>
            </div>
          </div>
        </ul>
        <div>
          Trenutno dodajete Dan {{ nizDana.length + 1 }}
          <ul>
            <div
              *ngFor="let obrok of trenutniDan.obroci; let i = index"
              value="obrok"
            >
              Obrok {{ i + 1 }}, Vreme : {{ obrok.vreme }}
              <button
                class="btn-primary rounded-lg ml-2"
                (click)="prikaziDetaljeObrok(i)"
              >
                Detalji
              </button>
              <button
                class="btn-primary rounded-lg ml-2"
                (click)="obrisiObrok(obrok)"
              >
                Obrisi
              </button>
              <div *ngIf="detaljiZaObrok == i">
                <ul>
                  <li
                    *ngFor="let deoObroka of obrok.deloviObroka"
                    value="deoObroka"
                  >
                    Hrana : {{ deoObroka.hrana.ime }} , Kolicina :
                    {{ deoObroka.kolicina }}g
                  </li>
                </ul>
                <div>Ukupno kalorija : {{ obrok.ukupneKalorije }}kcal.</div>
                <div>Ukupno proteina : {{ obrok.ukupniProteini }}g.</div>
                <div>Ukupno masti : {{ obrok.ukupneMasti }}g.</div>
                <div>
                  Ukupno ugljenihhidrata : {{ obrok.ukupniUgljeniHidrati }}g.
                </div>
                <div>Ukupno vlakana : {{ obrok.ukupnaVlakna }}g.</div>
              </div>
            </div>
          </ul>
          <div>Dnevne kalorije : {{ dnevneKalorije() }}kcal.</div>
          <div>Dnevni proteini : {{ dnevniProteini() }}g.</div>
          <div>Dnevne masti : {{ dnevneMasti() }}g.</div>
          <div>Dnevni ugljenihhidrati : {{ dnevniHidrati() }}g.</div>
          <div>Dnevna vlakna : {{ dnevnaVlakna() }}g.</div>
        </div>
      </div>
      <div>
        <div class=" border rounded-lg m-2 p-2">
          <h4 *ngIf="!daLiJeGotov()">
            Trenutno dodajete obrok {{ trenutniDan.obroci.length + 1 }} za dan
            {{ nizDana.length + 1 }}.
          </h4>
          <div>
            Vas Obrok broj {{ obrokBrojac }} izgleda ovako :
            <ul>
              <div
                class=" m-1 p-1"
                *ngFor="let deoObroka of trenutniObrok.deloviObroka"
                value="deoObroka"
              >
                Hrana : {{ deoObroka.hrana.ime }} , Kolicina :
                {{ deoObroka.kolicina }}g
                <button
                  class="btn-primary rounded-lg ml-2"
                  (click)="izbaciIzObroka(deoObroka)"
                >
                  Izbaci iz Obroka
                </button>
              </div>
            </ul>
            <div>Ukupno kalorija : {{ trenutniObrok.ukupneKalorije }}kcal.</div>
            <div>Ukupno proteina : {{ trenutniObrok.ukupniProteini }}g.</div>
            <div>Ukupno masti : {{ trenutniObrok.ukupneMasti }}g.</div>
            <div>
              Ukupno ugljenihhidrata :
              {{ trenutniObrok.ukupniUgljeniHidrati }}g.
            </div>
            <div>Ukupno vlakana : {{ trenutniObrok.ukupnaVlakna }}g.</div>
          </div>
        </div>
        <div class=" border rounded-lg m-2 p-2">
          <app-smart-search-bar
            [changing]="changingValue"
            (onEnter)="selektujHranu($event)"
            [titlePretrage]="pretragaPoImenu"
            [obsPretrage]="obsHrana"
          ></app-smart-search-bar>
          <div>
            <label for="kolicinaControl">Kolicina (g) : </label>
            <input
              class="form-control col-4"
              type="number"
              name="kolicinaControl"
              [formControl]="kolicinaControl"
            />
            <button
              class=" btn btn-primary rounded-lg m-1"
              (click)="dodajUObrok()"
            >
              Dodaj u Obrok
            </button>
            <div>
              <label for="vremeObrokaControl">Vreme Obroka :</label>
              <input
                class="form-control col-4"
                type="text"
                name="vremeObrokaControl"
                [formControl]="vremeObrokaControl"
              />
              <button
                class=" btn btn-primary rounded-lg m-1"
                *ngIf="!daLiJeGotov()"
                (click)="dodajObrok()"
              >
                Dodaj Obrok
              </button>
            </div>
          </div>
        </div>
        <button
          class=" btn btn-primary m-2 p-2"
          *ngIf="!daLiJeGotov() && poslatPlanFlag == false"
          (click)="dodajDan()"
        >
          Zavrsi Dan
        </button>
        <div
          *ngIf="daLiJeGotov() && poslatPlanFlag == false"
          class=" border rounded-lg m-2 p-2"
        >
          <div>
            <label for="datumControl">Datum Plana :</label>
            <input
              class="form-control col-4"
              type="text"
              name="datumControl"
              [formControl]="datumControl"
            />
            <label for="nazivControl">Naziv Plana :</label>
            <input
              class="form-control col-4"
              type="text"
              name="nazivControl"
              [formControl]="nazivControl"
            />
          </div>
          <button
            class=" btn btn-primary rounded-lg m-1"
            *ngIf="daLiJeGotov() && poslatPlanFlag == false"
            (click)="posaljiPlan()"
          >
            Posalji Plan
          </button>
        </div>
      </div>
    </div>
    <div class="m-2 p-2 ">
      <label *ngIf="poslatPlanFlag == true">Vas Plan je uspesno poslat.</label>
    </div>
    <button class=" btn btn-secondary m-1" (click)="back()">Nazad</button>
  </div>
</div>
<div class="container shadow p-3 " *ngIf="!daLiJeLogovan()">
  <div
    class="border rounded-lg text-center p-2 m-2 bg-danger text-white ml-20 mr-20 "
  >
    Morate Biti ulogovani.
  </div>
</div>
