<div *ngIf="instruktor!=null">
    <div *ngIf="!daLiJeLogovan()">Morate biti logovani da vidite profile.</div>
    <div *ngIf="daLiJeLogovan() && daLiNJegovProfilIliGleda()">
        dobro logovan i njegov je profil.
        <h2>Dobrodosli {{instruktor.username}}</h2>
        <div>Ime : {{instruktor.ime}}</div>
        <div>Prezime : {{instruktor.prezime}}</div>
        <div>Akreditacija : {{instruktor.akreditacija}}</div>
        <div>Radno Iskustvo : {{instruktor.radnoIskustvo}}</div>
        <div>Broj Klijenta : {{instruktor.klijenti.length}}</div>
        <div>Lista Vasih Klijenata : 
          <ul>
          </ul>
        </div>
        <app-smart-search-bar
          (onEnter)="pretraziTim($event)"
          [titlePretrage]="pretragaPoImenu"
          [obsPretrage]="obsInstruktori"
        ></app-smart-search-bar>
        <button (click)="izmenaProfila()">Izmeni Profil</button>
        <div *ngIf="flagIzmena == true">
            <label for="prezimeInstruktorControl">Novo Prezime :</label>
<input
  type="text"
  name="prezimeInstruktorControl"
  [formControl]="prezimeInstruktorControl"
/>
<label for="akreditacijaInstruktorControl">Nova Akreditacija :</label>
<input
  type="text"
  name="akreditacijaInstruktorControl"
  [formControl]="akreditacijaInstruktorControl"
/>

<label for="radnoIskustvoInstruktorControl">Novo Radno iskustvo :</label>
<input
  type="text"
  name="radnoIskustvoInstruktorControl"
  [formControl]="radnoIskustvoInstruktorControl"
/>
<label for="noviPasswordInstruktorControl">Vas Novi Password :</label>
<input
  type="password"
  name="noviPasswordInstruktorControl"
  [formControl]="noviPasswordInstruktorControl"
/>
<label for="passwordInstruktorControl">Vas Stari Password :</label>
<input
  type="password"
  name="passwordInstruktorControl"
  [formControl]="passwordInstruktorControl"
/>
<button (click)="updateProfil()">Posalji Promene</button>
        </div>

<button (click)="dodajHranu()">Dodaj Novu Hranu</button> <button (click)="dodajVezbu()">Dodaj Novu Vezbu</button>
    </div>
    <div *ngIf="daLiJeLogovan() && !daLiNJegovProfilIliGleda()">
        dobro logovan i gleda tudji profil.
        <h2>Dobrodosli na profil {{instruktor.username}}</h2>
        <div>Ime : {{instruktor.ime}}</div>
        <div>Prezime : {{instruktor.prezime}}</div>
        <div>Akreditacija : {{instruktor.akreditacija}}</div>
        <div>Radno Iskustvo : {{instruktor.radnoIskustvo}}</div>
        <div>Broj Klijenta : {{instruktor.klijenti.length}}</div>
    </div>
    </div>

