<div *ngIf="instruktor != null">
  <div *ngIf="!daLiJeLogovan()">Morate biti logovani da vidite profile.</div>
  <div *ngIf="daLiJeLogovan() && daLiNJegovProfilIliGleda()">
    <div class="container shadow p-3">
      <h2 class="text-center">Dobrodosli {{ instruktor.userName }}</h2>
      <div class=" mt-5 mb-4 col-7 border">
        <div>Ime : {{ instruktor.ime }}</div>
        <div>Prezime : {{ instruktor.prezime }}</div>
        <div>Akreditacija : {{ instruktor.akreditacija }}</div>
        <div>Radno Iskustvo : {{ instruktor.radnoIskustvo }}</div>
        <div>Broj Klijenata : {{ instruktor.klijenti.length }}</div>
      </div>
      <div class="col-7">
        <div class="list-group-item list-group-item-action active text-center">
          Lista Vasih Klijenata :
        </div>
        <div>
          <ul class="list-group" *ngIf="instruktor.klijenti.length > 0">
            <li
              class="column list-group-item list-group-item-action d-flex justify-content-between align-items-center"
              *ngFor="let klijent of instruktor.klijenti"
            >
              Username Klijenta :
              <a (click)="vidiProfil(klijent)">{{ klijent }}</a>
              <button
                class="btn btn-primary "
                (click)="prekiniSaradnju(klijent)"
              >
                Prekini saradnju
              </button>
              <button
                class="btn btn-primary "
                (click)="otvoriTreningPlan(klijent)"
              >
                Trening Plan
              </button>
              <button
                class="btn btn-primary "
                (click)="otvoriIshranaPlan(klijent)"
              >
                Plan Ishrane
              </button>
            </li>
          </ul>
        </div>
      </div>
      <app-smart-search-bar
        [changing]="changingValue"
        (onEnter)="pretraziUsera($event)"
        [titlePretrage]="pretragaPoImenu"
        [obsPretrage]="obsInstruktor"
      ></app-smart-search-bar>
      <button
        class="btn btn-secondary mt-2 mb-2 ml-1"
        (click)="izmenaProfila()"
      >
        Izmeni Profil
      </button>
      <div *ngIf="flagIzmena == true">
        <div class=" mt-2 mb-2 border col-7">
          <label class="mt-2" for="prezimeInstruktorControl"
            >Novo Prezime :</label
          >
          <input
            class="form-control"
            type="text"
            name="prezimeInstruktorControl"
            [formControl]="prezimeInstruktorControl"
          />
          <label for="akreditacijaInstruktorControl">Nova Akreditacija :</label>
          <input
            class="form-control"
            type="text"
            name="akreditacijaInstruktorControl"
            [formControl]="akreditacijaInstruktorControl"
          />

          <label for="radnoIskustvoInstruktorControl"
            >Novo Radno iskustvo :</label
          >
          <input
            class="form-control"
            type="text"
            name="radnoIskustvoInstruktorControl"
            [formControl]="radnoIskustvoInstruktorControl"
          />
          <label for="noviPasswordInstruktorControl">Vas Novi Password :</label>
          <input
            class="form-control"
            type="password"
            name="noviPasswordInstruktorControl"
            [formControl]="noviPasswordInstruktorControl"
          />
          <label for="passwordInstruktorControl">Vas Stari Password :</label>
          <input
            class="form-control"
            type="password"
            name="passwordInstruktorControl"
            [formControl]="passwordInstruktorControl"
          />
          <button class="btn btn-secondary mt-4 mb-2" (click)="updateProfil()">
            Posalji Promene
          </button>
        </div>
      </div>

      <button class="btn btn-secondary mt-2 mb-2 ml-1" (click)="dodajHranu()">
        Dodaj Novu Hranu
      </button>
      <button class="btn btn-secondary mt-2 mb-2 ml-1" (click)="dodajVezbu()">
        Dodaj Novu Vezbu
      </button>
      <button class="btn btn-secondary mt-2 mb-2 ml-1" (click)="logout()">
        Odjavi Se
      </button>
    </div>
  </div>
  <div *ngIf="daLiJeLogovan() && !daLiNJegovProfilIliGleda()">
    <div class="container shadow p-3 align-items-center">
      <h2>Dobrodosli na profil {{ instruktor.userName }}</h2>
      <div class="border col ml-10 mr-10">
        <div>Ime : {{ instruktor.ime }}</div>
        <div>Prezime : {{ instruktor.prezime }}</div>
        <div>Akreditacija : {{ instruktor.akreditacija }}</div>
        <div>Radno Iskustvo : {{ instruktor.radnoIskustvo }}</div>
        <div>Broj Klijenta : {{ instruktor.klijenti.length }}</div>
      </div>
      <button class="btn btn-secondary mt-2 mb-2 ml-1" (click)="nazad()">
        Nazad
      </button>
    </div>
  </div>
</div>
